/* [MEET THE TEAM CONTAINER] */
.anaidys-photo {
    width: 150px;
    clip-path: circle(40% at 50% 50%);
}

.tatiana-photo {
    width: 200px;
    clip-path: circle(40% at 50% 50%);
}

.mayreny-photo {
    width: 150px;
    clip-path: circle(45% at 50% 50%);
}


.name-photo {
  display: flex;
  flex-direction: column;
  color:#344e41;
  font-family: "Ephesis", cursive;
  font-size: 1.5rem;

}

.info {
  position: relative;
  top: 75px;


}
.team-blurb {
  display: flex;
  text-align: center;
  padding-top: 15px;
}

/* [HOW WE STARTED CONTAINER] */
.origin-story {
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px; 
    padding: 20px;
}

.origin-text {
    padding: 25px;
    font-family: "Dosis", sans-serif; 
}

/* [ABOUT US CONTAINER] */
.about-us {
    display: flex;
    flex-direction: column;
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 20px;
    font-family: "Dosis", sans-serif; 
}



/* [BELIEFS CONTAINER] */
.beliefs {
    display:flex;
    flex-direction: column;
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 10px;

}

.beliefs-row {
    display: flex; 
    padding: 35px;
    
}

.beliefs-text {
    text-align: center;
    font-family: "Dosis", sans-serif; 

    
}