
.pm-logo {
    width: 250px;
}

header {
    background-color: var(--cream);
    font-family: "Dosis", sans-serif; 
    border-bottom: solid 2px var(--forest-green);
    width: 100%;
    
}
 
.nav-list {
    display: inline-block;
    margin: 0 110px; 
    padding-bottom: 10px;
    
}

ul {
   display: flex; 
   flex-flow: row nowrap;
}


li a {

    text-decoration: none;
    color: var(--dark-green);
}

.login {
    display:block;
    position: absolute;
    top: 55px;
    right: 25px;
    text-decoration: none;
    color: var(--dark-green)

}

.fa-bars {
    display:block;
    position: absolute;
    top: 75px;
    right:65px;
    color: var(--sage)

}

/* -------------------------------------------------
[LINK STYLING} */
/* unvisited link */
a:link {
    color:var(--dark-green)   
 }

  /* visited link */
a:visited {
    color: var(--forest-green);

}

 /* mouse over link */
a:hover {
    font-weight:bold;
    color:var(--sage)  
}

 /* selected link */
a:active {
    font-weight:bold;
    color: var(--forest-green);
    background-color: var(--sage);  
}