html {
  --forest-green:#344e41;
  --sage: #a3b18a;
  --cream: #eae6e0;
  --dark-green: #111d13;
  --white: #ffffff;

  /* set height to 100% to keep gradient background from repeating in react */
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(var(--cream), var(--sage));
  font-family: 'Dosis', sans-serif;    
}
