/* [MOBILE DEVICE]] */
@media screen and (min-width: 320px) and (max-width: 768px) {
    /* --------------------------------------------------
  [HEADER] */
  li a {
    display: none;
  }
  
  ul { 
    display: none;
  }
  
  .pm-logo {
    width: 275px; 
  }
  
  .header-logo {
    display: flex; 
    justify-content: center; 
  }
  
  .login {
    display: none;
  }
  
  .fa-bars {
    display:block;
    position: absolute;
    top: 30px;
    right:30px;
    color: var(--sage)
  
  }
  
    /* --------------------------------------------------
  [FOOTER] */
  
  .postpartum-momma-footer-logo {
    display: none;
  
    
  }
  
  
  .footer-quote {
    font-family: "Ephesis", cursive; 
    font-size: 1.5rem;
    text-align: center;
    color: var(--sage);
  
  }
  
  .row-text-footer {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 45px;
    font-size: .8rem;
  
  }
  
  /* ----ADJUST FONT SIZING----- */
  
  .welcome {
    font-size: 5.5rem; 
  }
  
  /* ---ABOUT PAGE---- */
  
  .beliefs-row {
    display: flex; 
    flex-direction: column;
    padding: 35px;
    
  }
  
  .name-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#344e41;
    font-family: "Ephesis", cursive;
    font-size: 1.5rem;
  
  }
  
  .momma-photo {
    display: flex;
    justify-content: center;
  }
  
  .info {
  
    display: flex;
    flex-direction: column;
  }
  
  
  .team-blurb {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding-top: 40px; */
  }
  
  /* ----FED PAGE */
  .container-item {
    display: flex; 
    flex-direction: column;
  }
  
  .formula {
    width: 200px;
  }
  
  .formula-img { 
    display: flex;
    justify-content: center;
    padding-left:  20px;
    padding-bottom: 20px;
  }
  
  /* ----BED----- */
  
  .container1-texts {
    display: flex; 
    flex-direction: column;
  }
  
  .sleeping-luca { 
    width: 200px;
  }
  
  .bedtime-routine {
    width: 200px;
  }
  }
  
  .first-letter {
    font-size: 3.5rem; 
  }
  
  .the-rest {
    font-size: 3.5rem; 
    
  }
  
  .inbetween-text {
    font-size: 3.5rem; ; 
  }
  
  /* ----PLAY---- */
  
  .play-image {
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .playkit1 {
    width: 230px;
    position: relative;
    left: 10px;
  }
  
  /* [TABLET] */
  @media screen and (min-width: 768px) and (max-width: 768px) {
  
  /* ---BED--- */
  .container1-texts {
    display: flex;
    flex-direction: row;
  }
  
  .baby-img { 
    position: relative;
    top: 50px;
  }
  
  /* ---PLAY---- */
  
  .playkit1 {
    width: 275px;
    
  }
  
  }
  
  /* [LAPTOP] */
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .playkit1 {
      width: 275px;
      
    }
  
  }