.container1 {
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px; 
    padding: 20px;
    width: 100%;
  }

.post-image {


}

.post-title {

}

.post-article {
    
}


